@model IEnumerable<Contact>
@{
    ViewData["Title"] = "Contact List";
}

<h1>Contact List</h1>

<form asp-action="Index">
    <div class="row mb-3">
        <div class="col-md-6">
            <div class="input-group">
                <input type="text" class="form-control" id="searchString" placeholder="Search by name" name="searchString">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary mx-2" type="submit">Search</button>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <p class="text-right">
                <a asp-action="Create" class="btn btn-primary">Create New</a>
            </p>
        </div>
    </div>
</form>

<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Address</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody id="contactTableBody">
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                <td>@Html.DisplayFor(modelItem => item.Phone)</td>
                <td>@Html.DisplayFor(modelItem => item.Address)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-primary">Edit</a>
                    <a asp-action="View" asp-route-id="@item.Id" class="btn btn-sm btn-warning">View</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger ml-1">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#searchString').on('input', function () {
                var searchString = $(this).val().toLowerCase();
                $('#contactTableBody tr').each(function () {
                    var name = $(this).find('td:nth-child(1)').text().toLowerCase();
                    var email = $(this).find('td:nth-child(2)').text().toLowerCase();
                    var phone = $(this).find('td:nth-child(3)').text().toLowerCase();
                    var address = $(this).find('td:nth-child(4)').text().toLowerCase();
                    if (name.includes(searchString) || address.includes(searchString) || phone.includes(searchString) || email.includes(searchString)) {
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                });
            });
        });
    </script>
}
